# Flash files #
###############
*.swf
*.swc

# Compiled source #
###################
*.swf

# Packages #
############
*.rar
*.zip

# Folders to ignore #
#####################
/rel

/AppIconsForPublish
