# Flash files #
###############

*.swc

# Compiled source #
###################
*.swf

# Packages #
############
*.rar
*.zip

# Folders to ignore #
#####################
/rel
/lib
/AppIconsForPublish
